header {
  height: 120px;
  background-color: var(--deep-red-100);
  padding: 10px;
  border-bottom: 8px solid var(--deep-red-200);
}

.box-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

header img {
  height: 50px;
  width: auto;
}

.title-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  color: white;
}

.header-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
}

.header-actions span {
  font-size: 1.5rem;
  color: white;
}

.header-actions button {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.header-actions button:hover {
  background-color: antiquewhite;
  color: var(--deep-red-200);
}
