.custom-dialog {
  width: 30rem;
  min-height: 12rem;
  margin: auto;
  padding: 0;
  background-color: #d5c7bc;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.custom-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}
